{% extends 'base.html' %}
{% block header_custom_js_css %}

{% endblock %}
{% block title %}
select blog type
{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'index' %}">index</a></li>
    <li class="active">select blog type</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-control">
                    <a href="/blog-backend/display-blog-list/" class="btn btn-default" title="return to list"><i class="fa fa-arrow-left"></i></a>
                </div>
                <div class="panel-title">
                    select
                </div>
            </div>
            <div class="panel-body">
                <form id="type_select" class="form-horizontal" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        
                        <label class="col-lg-5 control-label"><strong>please select a editor to edit:</strong></label>
                        <div class="col-lg-5">
                            

                            <div class="radio">
                                <input type="radio" id="sel_01" name="edit_type" value="message" class="magic-radio" />
                                <label for="sel_01">message</label>
                                </div>

                            <div class="radio">
                                <input type="radio" id="sel_02" name="edit_type" value="md_blog" class="magic-radio" />
                                <label for="sel_02">markdown_blog</label>
                            </div>

                            <div class="radio">
                                <input type="radio" id="sel_03" name="edit_type" value="upload_md" class="magic-radio" />
                                <label for="sel_03">upload_md_file</label>
                            </div>
                                
                                
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-7 col-lg-offset-5">
                            <button class="btn btn-primary">come in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
{% block footer_custom_js %}
    
<script>
    
</script>
{% endblock %}

