{% extends 'base.html' %}
{% block header_custom_js_css %}

{% endblock %}
{% block title %}
select blog type
{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{% url 'index' %}">index</a></li>
    <li class="active">select blog type</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-9">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-control">
                    <a href="/backend/blog-backend/display-blog-list/" class="btn btn-default" title="return to list"><i class="fa fa-arrow-left"></i></a>
                </div>
                <div class="panel-title">
                    select
                </div>
            </div>
            <div class="panel-body">
                <form id="type_select" class="form-horizontal" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        
                        <label class="col-lg-5 control-label"><strong>please select a editor to edit:</strong></label>
                        <div class="col-lg-5 list-group">
				    <a href="/backend/blog-backend/message/" class="list-group-item">message</a>

				    <a href="/backend/blog-backend/md-edit-blog/" class="list-group-item">md-edit-blog</a>
				    <a href="/backend/blog-backend/normal-edit-blog/" class="list-group-item">normal-edit-blog</a>
				    <a href="/backend/blog-backend/upload-markdown/" class="list-group-item">upload-md-file</a>
                                
                                
                            
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
{% block footer_custom_js %}
    
<script>
    
</script>
{% endblock %}

