{% load template_tool %}

{% if admin_class.list_filter %}

<form method="get">

    {% for field in admin_class.list_filter %}
        <div class="form-group row">

            <label for="-{{ field }}">{% get_field_verbose_name model_class field %}:</label><br/>
            <select class="form-control" name="{{ field }}" id="-{{ field }}">
                {% get_filter_options model_class field %}
            </select>

        </div>
    {% endfor %}

    {% if admin_class.list_filter %}
        <div>

            <input type="submit" class="btn btn-info" value="筛选" style="margin-top: 24px;"/>
        </div>
    {% endif %}


    <div style="clear: both"></div>

</form>
{% endif %}
