{% load template_tool %}

{% if admin_class.search_fields %}
<div class="col-lg-8">
    <form method="get">
    <div class=" col-md-8">
        <input class="form-control" type="search" name="_s"
               value="{% if search_keyword %}{{ search_keyword }}{% endif %}"
               placeholder="{% for field in admin_class.search_fields %}{{ field }} {% endfor %}">
    </div>

    {% for k,v in request.GET.items %}
        {% if k != "_s" %}
            <input class="form-control" type="hidden" name="{{ k }}" value="{{ v }}">
        {% endif %}

    {% endfor %}
    <input type="submit" class="btn btn-success" value="search">

</form>
</div>

{% endif %}
