{% load template_tool %}

<form class="form-horizontal" method="post" onsubmit="cancel_disabled(this)">
    {% csrf_token %}
        {% for field in form_obj %}
            <div class="form-group">


                <label class="col-sm-2 control-label">
                    {% if field.field.required %}   <!--表示必填-->
                        {{ field.label }}
                    {% else %}
                        <span style="font-weight: normal">{{ field.name }}</span>
                    {% endif %}

                </label>
                <div class="col-sm-8">
                    <!--多对多操作，两个select选择框，第一个为不存在的列表，第二个为已经存在的列表
                    该字段是否在filter_horizontal中来判断是否需要多选特殊样式，提交的时候提交第二个框的所有
                    -->
                    <div class="row">
                        {% if field.name in admin_class.readonly_field_for_change %}
                            {% get_read_only_readable field form_obj.instance %}
                        {% else %}
                            {% if field.name in admin_class.filter_horizontal %}
                            <!--1，拿到选中的列表-->
                            {% get_m2m_selected_fields form_obj field.name as selected_m2m_objects %}
                            {% get_m2m_fields app_model field.name selected_m2m_objects as m2m_objects %}
                            <div class="col-sm-5">
                                <input type="text" class="form-control id-select-from" oninput="input_select(this)" />
                                <select id="{{ field.name }}_from" class="form-control"  multiple="multiple" style="height: 150px;">
                                    {% for obj in m2m_objects %}
                                        <option value="{{ obj.id }}">{{ obj }}</option>
                                    {% endfor %}
                                </select>
                                <a href="javascript:;" onclick="select_change_all('{{ field.name }}_from','{{ field.name }}_to')" style="display: block;text-align: center;">all</a>
                            </div>
                            <div class="col-sm-1" style="height: 150px;text-align: center;">
                                <span style="display:inline-block; padding: 50px 0;">
                                    <a href="javascript:;" onclick="select_change('{{ field.name }}_to','{{ field.name }}_from')"><i class="fa fa-arrow-circle-left"></i></a>
                                    <a href="javascript:;" onclick="select_change('{{ field.name }}_from','{{ field.name }}_to')"><i class="fa fa-arrow-circle-right"></i></a>
                                </span>


                            </div>

                            <div class="col-sm-6">
                                <input type="text" class="form-control id-select-from" oninput="input_select(this)" />
                                <select name="{{ field.name }}" id="{{ field.name }}_to" class="form-control" multiple="multiple" style="height: 150px;">
                                    {% for obj in selected_m2m_objects %}
                                        <option value="{{ obj.id }}">{{ obj }}</option>
                                    {% endfor %}
                                </select>
                                <a href="javascript:;" onclick="select_change_all('{{ field.name }}_to','{{ field.name }}_from')" style="display: block;text-align: center;">all</a>

                            </div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endif %}
                    </div>


                </div>
            <!--提示信息-->
                <span style="color:gray;font-size: 10px">{{ field.help_text }}</span>
                  <span style="color: red">{{ field.errors.0 }}  </span>
            </div>

        {% endfor %}
        <div class="form-group">
            {% if form_obj.instance.id %}
            <div class="col-md-1 col-md-offset-1">
                <a href="{% make_delete_url request.path request.GET %}" class="btn btn-danger">删除</a>
            </div>
            <div class="col-md-1 col-md-offset-7">
                <input type="submit" class="btn btn-success js-submit-btn" value="提交" />
            </div>
            {% else %}
            <div class="col-md-1 col-md-offset-11">
                <input type="submit" class="btn btn-success js-submit-btn" value="提交" />
            </div>

            {% endif %}


        </div>

    </form>

<script>

    /**
     * 从select from到select_to,哪些option
     * @param select_from
     * @param select_to
     */

    function select_change(select_from,select_to){
        $("#"+select_from).children("option:selected").appendTo($("#"+select_to));
    }
    function select_change_all(select_from,select_to){
        $("#"+select_from).children("option").appendTo($("#"+select_to));
    }
    $(".js-submit-btn").click(function () {
        $("select[id $= 'to']").children("option").prop("selected",true);
    });
    /**
     * 选择它下面的select中有该关键字的
     * @param itm
     */
    function input_select(itm){
        $(itm).siblings("select").children("option").each(function () {
            if($(this).text().indexOf($(itm).val())>=0 || $(itm).val() == ""){
                $(this).removeClass("hide");
            }else{
                $(this).addClass("hide");
            }
        });

    }
    function cancel_disabled(item) {
        $(item).find("[disabled]").removeAttr("disabled");
    }


</script>

