{% extends 'frontpage_base.html' %}
{% block header_custom_js_css %}

{% endblock %}
{% block title %}
title
{% endblock %}
{% block breadcrumb %}

{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-9">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-control">
                    <a href="#" class="btn btn-success">display list <i class="fa fa-left"></i></a>
                </div>
                <div class="panel-title">recent update</div>
            </div>
            <div class="panel-body">
                
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block footer_custom_js %}
    scripts
<script>$(document).ready(function(){
});</script>
{% endblock %}
