<ul id="mainnav-menu" class="list-group">
    <!--Category name-->
    <li class="list-header">menu</li>
{% if request.session.user.groupname != "normal" %}
<!--Menu list item-->
    <li>  <!--高亮显示active_link-->
        <a href="{% url 'index' %}">
            <i class="psi-quill-2"></i>
            <span class="menu-title">index</span>
        </a>
    </li>

    <!--Menu list item-->
    <li class="list-divider"></li>
    <!--Category name-->

    <!--Menu list item-->
    <li>
        <a href="javascript:;">
            <i class="psi-mouse-3"></i>
            <span class="menu-title">user</span>
            <i class="arrow"></i>
        </a>

        <!--Submenu-->
        <ul class="collapse">
            <li><a href="{% url 'users:account-reg' %}">register</a></li>
            <li><a href="{% url 'users:account-list' %}">users management</a></li>
            <li><a href="{% url 'users:group-create' %}">group addition</a></li>
            <li><a href="{% url 'users:group-list' %}">groups management</a></li>
        </ul>

    </li>
    <li>
        <a href="javascript:;">
            <i class="psi-mouse-3"></i>
            <span class="menu-title">blog</span>
            <i class="arrow"></i>
        </a>
        <ul class="collapse">
            <li><a href="{% url "blog_backend:edit_blog" %}">new blog</a></li>
            <li><a href="{% url "blog_backend:display_blog_list" %}">blog list</a></li>
            <li>
                <a href="{% url "blog_backend:message_list" %}">message list</a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript:;">
            <i class="psi-mouse-3"></i>
            <span class="menu-title">tools</span>
            <i class="arrow"></i>
        </a>
        <ul class="collapse">
            <li><a href="{% url 'admin:index' %}">admin</a></li>
            <li><a href="">log</a></li>
            <li><a href="">api framework</a></li>
        </ul>
    </li>

    <!--Menu list item-->

{% else %}

{% endif %}







</ul>
