<!--User dropdown-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<li id="dropdown-user" class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
        <span class="pull-right">
            <!-- You may use image instead of an icon.-->
            <img class="img-circle img-user media-object" src="{% if request.session.user.head_pic_url %}{{ request.session.user.head_pic_url }}{% else %}/static/img/user_blank_128x128.png{% endif %}" alt="Profile Picture">

        </span>
        <div class="username hidden-xs">
            {{ request.session.user.username }}
            

        </div>
    </a>


    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">



        <!-- User dropdown menu -->
        <ul class="head-list">
            <li>
                <a href="{% url 'users:change-passwd' %}">
                    <i class="pli-male icon-fw icon-lg"></i> change password
                </a>
            </li>
            <li>
                <a href="{% url 'users:setting' %}">
                    <span class="badge badge-danger pull-right">9</span>
                    <i class="pli-mail icon-fw icon-lg"></i> setting
                </a>
            </li>
        </ul>

        <!-- Dropdown footer -->
        <div class="pad-all text-right">
            <a href="{% url 'users:logout' %}" class="btn btn-primary">
                <i class="pli-unlock icon-fw"></i> logout
            </a>
        </div>
    </div>
</li>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End user dropdown-->