<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>bekazone</title>
    {% include '_head_js_css.html' %}
    {% block header_custom_js_css %}

    {% endblock %}
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->


<body>
    <div id="container" class="effect mainnav-lg">
        {% include '_nav_bar.html' %}

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">

                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title">
                    <h1 class="page-header text-overflow">{% block title %}known{% endblock %}</h1>

                    <!--Searchbox-->
                    <!--<div class="searchbox">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..">
                            <span class="input-group-btn">
                                <button class="text-muted" type="button"><i class="pli-magnifi-glass"></i></button>
                            </span>
                        </div>
                    </div>-->
                </div>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->


                <!--Breadcrumb-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                {% block breadcrumb %}
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
                </ol>
                {% endblock %}

                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End breadcrumb-->


                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">
                    {% block content %}

                    {% endblock %}
                </div>
                <!--===================================================-->
                <!--End page content-->


            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->
            {% include '_menu.html' %}
        </div>

        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>

        {% include '_footer.html' %}

{#        {% include '_return_head_btn.html' %}#}
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <script>

    </script>
    {% block footer_custom_js %}

    {% endblock %}
    </body>


</html>
